.logo {
  color: white;
  font-size: 26px;
  color: #00e5cc;
}

.link-item {
  color: #86a3a0;
  font-size: 18px;
  padding: 0 13px;
  margin: 0 2px;
  text-decoration: none;
}
.link-item:hover {
  color: white;
  border-radius: 5px;
  border: none;
}
