.banner img {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.banner-btn {
  background-color: #040447;
  color: white;
  border: none;
  border-radius: 35px;
}
.banner-btn:hover {
  background-color: #00e5cc;
  color: #040447;
  font-weight: bold;
}
.banner-info {
  width: 46%;
  position: absolute;
  top: 30%;
  left: 3%;
}
@media only screen and (max-width: 600px) {
  .banner-info {
    display: none;
  }
}
